*{
    box-sizing: border-box;  
  }
body{
      margin: 0;
  }
.container{
    padding-top: 10px;
    padding-bottom: 10px;
      width: 50%;
      margin: 0 auto;
  
  }
.container2{
    width: 30%;
    margin: 0 auto;
    text-align: center;

}
header{
    background-color:white;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        padding-bottom: 10px;
        border-bottom: solid 1px gainsboro;
  }
.centrar{
    margin-right: 10px;
    margin-left: 10px;
    
}
.mr{
    margin-right: 10px;
}
.row{
    display: flex   ;
    }
.justify-content-between{
    justify-content: space-between;
    }
.align-items-center {
    align-items: center;
    }
.botonesw{
    background-color: white;
    border-color: blue ;
    padding: 6px 20px;
    border-radius: 15px ;
    font-size: 16px;
    color: blue;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    
}
.botonesb{
    background-color: blue;
    padding: 6px 20px;
    border-color: blue;
    border-radius: 15px ;
    font-size: 16px;
    color:white;
    font-weight: bold;
    margin-right: 0;
}
.lupa{
    color: blue;
}
nav ul,  nav li {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    display: inline;
    padding: 0;
    margin: 0;
    
}
a{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    color: black;
}
 nav li {
    list-style-type: none;
    text-decoration: none;
    float: left;
    display: inline;
    position: relative;
    margin-right: 20px;
    
}

.slide-container {
    position: relative;
}
/* Hide the images by default */
.slide {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer; /* cambiamos flecha por manita */
    position: absolute;
    top: 50%;
    margin-top: -20px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5s;
}
.prev {
    left: 0;
    border-radius: 0 10px 10px 0;
}
.next {
    right: 0;
    border-radius: 10px 0 0 10px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.col-4{
    width: 23%;
    display: flex;
    border-bottom: solid 1px gainsboro;


}
.col-3{
    width: 28%;
    display: flex;
    margin: 40px;

}
.card{
    box-shadow: 0 0 20px gainsboro;
    font-size: 26px;
}
.card img{
    width: 100%;
    
}

.left{
    text-decoration: none;
    float: left;
    width: 48%;
}
.right{
    float: right;
    width: 48%;
}
.cb{
    clear: both;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
    }
.text{
    font-size: 40px;
    font-weight: bold;
}
.text10{
    font-size: 18px;
}
.text-20{
    font-size: 35px;
    font-weight: bold;
}
.text15{
    font-size: 28px;
    font-weight: bold;


}
.gris{
    color: gray;
}

.noticia{

    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
}
.tp{
    font-size: 16px;

}
footer{
    padding-top: 50px;
    background-color: rgb(247, 247, 247);
}
.rightf{
    float: right;
    width: 48%;
    text-align: right;

}
footer li{
    text-decoration: none;
}
.container3{
    border-top: solid 1px gainsboro ;

    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 550px;
    font-weight: bold;
}
.botongris{
    background-color: gainsboro;
    border: none;
    border-radius: 10px;
    padding: 3px;
    font-size: 13px;
    font-weight: bold;
}
.leer{
    color: blue;
    border: none;
    font-weight: bold;
    background-color: white;
    padding-left: 300px;
}
.pb{
    padding-bottom: 10px;
}
.pt1{
    padding-top: 20px;
}
.pt2{
    padding-top: 50px;
}